.interview {
	background: url("../images/interview.jpg") no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 30px;
	height: 900px;
	overflow: hidden;
}


.banner-heading-interview {
	color: #fff;
	font-size: 100px;
	padding-left: 20%;
	/*margin: auto;*/
}

.yellow-text-interview {
	font-size: 170px;
}